@font-face {
    font-family: "News Roman";
    src: url("../font/Leitura-News-Roman-4.otf") format("opentype");
font-weight: normal;
font-style: normal;
    }
    @font-face {
        font-family: "Milliard";
        src: url("../font/Milliard-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
        }
*{
    margin: 0px;
      padding: 0px;
  box-sizing: border-box;
  }
  
  html{
    margin: 0px;
      padding: 0px;
  box-sizing: border-box;
  }
  
  body {
      margin: 0px;
      padding: 0px;
      font-family: "Milliard", 'Times New Roman', Times, serif;
      line-height: 1.5;
      background-color: #F2F7F8;
      box-sizing: border-box;
  }
  
  img {
      max-width: 100%;
      object-fit: cover;
      box-sizing: border-box;
  }
  
  /* LOGIN */
  #bg.active_bg::after {
      content: ' ';
      background-color: rgba(0, 0, 0, 0.532);
      width: 100vw;
      min-height: 100vh;
      position: absolute;
      top: 0;
      z-index: 999999999;
  
  }
  
  
  #login{
  
      display: none;
  
      border: none;
      overflow: hidden;
      width: 17em;
      height: 22em;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 29px;
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      opacity: 1;
      z-index: 99999999999;
   
  }
  
  
  #cont.active #login {
  
      display: block;
     
  }
  
  fieldset {
      padding: 0px;
      border: 0;
  
  }
  
  #login #telNo {
  
  
      width: 15.875em;
      height: 2.9375em;
      /* UI Properties */
      background: #FFFFFF 0% 0% no-repeat;
      outline: 2px solid #C1C1C1;
      opacity: 1;
      border-radius: 40px;
      box-sizing: border-box;
      transition: all .3s;
      border: 0;
  
  
  }
  
  #login input {
  
      text-align: center;
  
  }
  
  #login input:focus {
  
      background: #dfdede 0% 0% no-repeat;
      outline: 2px solid #FF7525;
      transition: all .3s;
      text-align: center;
  
  }
  
  #login input::placeholder {
      text-align: center;
      
  }
  
  .perfil_login {
    padding-bottom: 1em;
    font-family:  "Milliard";
}

#login figcaption {
    display: block;

    font-size: .9em;
    text-align: center;
    font-family:  "News Roman";
}

#login span {
    display: block;
    text-align: center;
    font-size: .6em;
    font-family:  "Milliard";
    margin-top: 1em;

}
  
  #input_login {
      position: relative;
  }
  
  #input_login i {
      position: absolute;
      top: 13px;
      left: 25px;
      bottom: 0;
      margin: auto;
      color: #c5c3c3;
      font-size: 1.5em;
  }
  
  .btn_login {
  
      border: none;
      width: 12.25em;
      height: 3.125em;
      /* UI Properties */
      background: #FF7525 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
      color: white;
      font: normal normal 600 16px/21px Milliard;
      margin-top: 1em;
      cursor: pointer;
      transition: .3s;
      font-family: "Milliard";
  }
  
  .btn_login:hover {
      opacity: .5;
      transition: .3s;
  }
  
  .fechar_login {
     padding: .5em .5em 0 .5em;
      text-align: right;
      cursor: pointer;
      transition: .3s;
      box-sizing: border-box;
  }
  
  .fechar_login:hover {
      opacity: .5;
      transition: .3s;
  }
  
  /* CONTAINER */
  #cont {
  
      width: 100vw;
      min-height: 100vh;
      padding: 0;
      margin: auto;
      position: relative;
     
  }
  
  .container {
  
      width: 100vw;
      min-height: 100vh;
      background-image: url("../img/bg_my_account.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

  }
  
  #content.active #container::after {
      content: ' ';
      background-color: rgba(0, 0, 0, 0.532);
      width: 100vw;
      min-height: 100vh;
      position: absolute;
      top: 0;
      z-index: 99999999;
  
  }
  
  /* HEADER */
  .logo {
    position: fixed;
    padding-top: 3em; 
      height: 10vw;
      top:0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100vw;
      z-index: 999;
  box-sizing: border-box;
  background-color: #f2f7f8;
  
  }
  
  .logo img {
    position: fixed;
      width: 20%;

      left: 0;
      right: 0;
      margin: auto;    
  
  }
  
  /* NAV */
  #btn-mobile:hover {
      opacity: 0.5;
  }
  
  #btn-mobile {
      position: absolute;
      width: 73px;
      height: 73px;
  
      left: 0;
      right: 0;
      top: 0;
  
      display: block;
      cursor: pointer;
     
      opacity: 1;
      cursor: pointer;
      background-image: url("../img/menu_responsivo_02.svg");
      background-size: cover;
      transition: .3s;
      box-sizing: border-box;
      z-index: 4000000000;
  }
  
  #nav.active #btn-mobile {
      background-image: url("../img/fechar.svg");
      background-size: cover;
  
      position: absolute;
      width: 25px;
      height: 25px;
  
  
      left: calc(53vw - 50px);
      right: 0;
      top: 0;
      margin: 1em 0;
  
      display: block;
      cursor: pointer;
      z-index: 4000000000;
      opacity: 1;
      transition: .7s;
      box-sizing: border-box;
  }
  nav{
    position: fixed;
    z-index: 999999999;
    /*  width: 53vw; */
box-sizing: border-box;
  }
  
  .navegacao {
  
 
  }
  
  #nav.active #menu {
      display: flex;
      visibility: visible;
      overflow: visible;
      width: 53vw;
      opacity: 1;
      transition: all .4s ease-in;
      box-sizing: border-box;
  }
  
  #nav.active #menu::after {
      content: ' ';
      display: flex;
      position: absolute;
      z-index: 40000000;
      width: 40vw;
      align-self: center;
      width: 70px;
      height: 70px;
      max-width: 100%;
      background-image: url("../img/perfil.svg");
      top: 72px;
      transition: all .4s ease;
      box-sizing: border-box;
  }
  
  
  #menu {
  
      min-height: 100vh;
      position: absolute;
      margin: 0;
      padding: 0;
  
      width: 0vw;
      background-color: #0C2E44;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 25vh;
      box-sizing: border-box;
      visibility: hidden;
      overflow: hidden;
      transition: all .2s ease;
      opacity: 0;
      box-sizing: border-box;
  }
  
  #menu li {
      align-self: center;
      width: 80%;
      list-style: none;
      padding: .5em 0;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      transition: all .2s ease;
      white-space: nowrap;
  }
  
  #menu li a {
  
  
      text-decoration: none;
      color: white;
      font-family: "Milliard";
  
      font-size: 0.9em;
      padding: .5em 0;
      box-sizing: border-box;
      display: inline-block;
      box-sizing: border-box;
  
  }
  
  #menu li:hover {
  
      opacity: .5;
      transition: all .2s ease;
      box-sizing: border-box;
  }
  
  #menu li span {
      padding-right: .5em;
      padding-left: .8em;
  box-sizing: border-box;
  }
  
  /* MAIN */
  
  
  .content__main {
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
   box-sizing: border-box;
   padding-top: 6em;
    justify-content:flex-start;
    row-gap: 1em;
  }

  .content__main div:nth-child(1) {
    padding-bottom: 1em;
  
  }

  .content__main div {
      align-self: center;
  }
  
  
  .perfil_main img{
      
      display: block;
      width: 100%;
     
  }
  .content__main span {
      text-align: center;
font-family:"News Roman" ;
      letter-spacing: 0px;
      color: #0C2E44;
      opacity: 1;
  }
 
  
  .btn_main1 {
  
      width: 10rem;
      height: 3.125rem;
      /* UI Properties */
  
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #FD7525;
      border-radius: 5px;
      transition: all .5s;
      cursor: pointer;
      box-sizing: border-box;
  }
  
  .btn_main2 {
  
    width: 10rem;
    height: 3.125rem;
    /* UI Properties */

    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD7525;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: #FD7525;

}
.btn_main2 a{
   display: block;
padding-top: .7em;
text-decoration: none;
color: white;
}
  .btn_main1:hover,  .btn_main2:hover  {
      opacity: 0.5;
      transition: all .5s;
  }
  
  /* FOOTER */
  
  .footer {
      padding: 0 .5em;
      box-sizing: border-box;
  
  }
  
  .footer img {
  
      width: 100%;
  
  
  }
  
  /* MEDIA QUERYES */
 
  @media screen and (min-width: 49px) {
      #menu {
  
          transition: none;
      }
  }
  
  @media screen and (min-width: 479px) {
     
  
      .container {
  
          background-image: url("../img/bg_my_account2.png");
          background-size: cover;
  
      }
  
  }
  @media (min-width: 600px) and (orientation: landscape) {
    .content__main {
  
   
        flex-direction:row;
       box-sizing: border-box;
       padding-top: 0em;
        justify-content:center;
        column-gap: 1em;
   
        
      }
   
      #btn-mobile {
          background-image: none;
  
      }
      #nav.active #btn-mobile {
  background-image: none;
      }
      #content.active #container::after {
          content: ' ';
          background-color: rgba(0, 0, 0, 0);
          width: 100vw;
          min-height: 100vh;
          position: absolute;
          top: 0;
          z-index: 999;
      

      }
     

   }
  @media screen and (min-width: 600px) {

    .content__main {
  
   
        flex-direction:row;
       box-sizing: border-box;
       padding-top: 0em;
        justify-content:center;
        column-gap: 1em;
   
        
      }
      #nav.active #menu::after {
          background-image: none;
  
      }
  
      #btn-mobile {
  
          display: none;
  
      }
  
      .navegacao {
          position:sticky;
          width: 100vw;
          z-index: 9999999;
      }
  
      #menu {
          width: 100%;
          flex-direction: row;
          min-height: 11vh;
  
          align-items: center;
          position: fixed;
          display: flex;
  
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color: transparent;
          padding-top: 0;
          z-index: 9999999999999;
          visibility: visible;
          overflow-y: visible;
          opacity: 1;
          transition: none;
  
      }
  
      #menu li {
          text-align: center;
          border-bottom: none;
          padding: 0;
      }
      #menu li a{
       color: #0C2E44;
    }

      .container {
  
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin: auto;
          background-image: url("../img/bg_my_account2.png");
          background-size: cover;
      }
  
    

      .logo {
        max-width: 10em;
     
    }
  
     
  }


  @media screen and (min-width: 750px) {
      body {
          width: 100vw;
          min-height: 100vh;
          padding: 0;
          margin: auto;
  
          background-image: url("../img/bg_my_account3.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
  
      }
  
      #nav.active #menu::after {
          background-image: none;
  
      }
  
      #btn-mobile {
  
          display: none;
  
      }
  
      .navegacao {
          position:sticky;
          width: 100vw;
          z-index: 9999999;
      }
  
      #menu {
          width: 100%;
          flex-direction: row;
          min-height: 10vh;
  
          align-items: center;
          position: fixed;
          display: flex;
  
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
  
          padding-top: 0;
          z-index: 9999999999999;
          visibility: visible;
          overflow-y: visible;
          opacity: 1;
          transition: none;
  
      }
  
      #menu li {
          text-align: center;
          border-bottom: none;
          padding: 0;
      }
  
  
      .container {
  
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin: auto;
          background-image: none;
  
      }
  

  
  
  
  }
  @media (min-width: 280px) and (orientation: landscape) {
    .logo {
  
        padding-top: 4em;
     }
        }
  @media screen and (max-width: 280px) {
     
      #login {
  
          width: 14.5em;
  
      }
  
      #login input {
  
          width: 13em;
  
      }
  
      #login #checkbox {
          width: 1.5em;
  
      }
  
      #login #telNo {
          width: 14em;
  
      }
  }
 
  

  @media screen and (min-width: 1080px) {
  
      #menu {
          width: 1080px;
  
      }

      .container {
  
          width: 1080px;
  
      }
  
      .content__main {
  
          width: 750px;
  
      }
  }
  
  
  /* ------------------------------------------------------------------------------------------------------ */